body 
{
    height: 100vh;
}
div
{
    display: flex;
    flex: 1;
    align-content: center;
}
.button
{
    flex: 1;
    flex-grow: 1;
    flex-direction: row;
    background-color: white;
}
.row
{
    flex: 1;
    flex-direction: row;
}
#gameBoard
{
    height: 100vh;
    flex-direction: column;
}